.DS_Store
*.pyc
neat-checkpoint-*
*.gv
*.log
*.out
*.aux
config.ini
/report/*.pdf
*/**/*.jpeg
*/**/*.jpg
*/**/*.png
thesis.prep.report*
*/debugging.txt
*.bak
.ipynb_checkpoints
*.py[co]
__pycache__
*.bbl
*.blg
config.ini
./vscode/
