[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
graphviz = "*"
numpy = "*"
matplotlib = "*"
networkx = "*"
scikit-learn = "*"

[packages]
neat-python = "*"
deap = "*"

[requires]
python_version = "3.7"
